#
README.txt
#
# Folder latihan
Section*/
# Folder latihan which is a symbolic link to synced folder
Section*
#
Orig/
#
temp/
tmp/
old/
*.??.md
*.bak
# file latihan topology packet tracer
lat-*.pkt
*.tmp
*old.md
*.old.md
*.orig
*.orig.md
*.pcapng
